.form-change_pass{
    height: 500px;
    width: 400px;
    display: flex;


}
.form-change_pass form{
    margin-top: 30px;
}
.form-change_pass input{
    margin-top: 50px;
    width: 300px;
    margin-left: 50px;
}
.form-change_pass button{
    margin-top: 40px;
    margin-left: 50px;
}

